<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Mano's Explorer</title>
    <link rel="stylesheet" type="text/css" href="/static/base.css">
  </head>
  <body>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script> 
      
      <div id="fb-root"></div>
      <div id="visual-wrapper">
        <div id="column-left">
            <div id="userBox">
            {% if current_user %}
              <img id="userPhoto" src="http://graph.facebook.com/{{ current_user.id }}/picture?type=square" width="50px" height="50px"/>
              {{ current_user.name|escape }}
            {% endif %}
            {% if not current_user%}
                <img id="userPhoto" src="/static/stranger.gif" width="50px" height="50px" />
                Hello Stranger!
            {% endif%}
            </div>
            <div id="stats">
                <span>Usu&aacute;rios:{{ userCount }}</span>
            </div>
            <div id="links">
               <ul>
                    <li id="autor"><a href="http://www.erico.com.br" target="_blank">Sobre o autor</a></li>
               </ul>
            </div>
        </div>
        <div id="content">
        